:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #fff;
  --background-end-rgb: #fff;

  --color-primary: #db1b1b;
  --color-secondary: #000;
  --color-tertiary: #fff;

  --fontsize-primary: 20px;
  --flip: flip;
  --fadeInDown: fadeInDown;
}
.button-primary {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  border-radius: 20px;
  width: 100%;
  font-size: var(--fontsize-primary);
  padding: 8px;
  border-width: 0px;
  font-family: "Quicksand", sans-serif;
}
h1 {
  font-family: "Quicksand", sans-serif;
}
.input-width {
  width: 400px; /* Set your desired width here */
}
.flex-row {
  display: "flex";
  flex-direction: row;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 5px;
  color: #fff;
  font-size: 2px;
}

th {
  color: #fff;
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
.error_message {
  color: red;
  font-family: "Quicksand", sans-serif;
}
