.login_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}
.gap {
  margin-top: 10px;
}
.primary_btn {
  background-color: red;
  color: var(--color-primary);
  border-radius: 20px;
  width: 100%;
  font-size: var(--fontsize-primary);
  padding: 8px;
}
.signup_btn {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 20px;
  width: 30%;
  font-size: var(--fontsize-primary);
  padding: 5px;
  border-width: 0;
  font-family: "Quicksand", sans-serif;
}
